<div class="today">
	<form>
		<div class="form-group">
			<div class="today-title">事件类型</div>
			<select class="form-control today-select">
				<option>河道破坏</option>
				<option>垃圾倾倒</option>
				<option>河岸破坏</option>
			</select>
		</div>
		<div class="form-group">
			<div class="today-title">地点</div>
			<input type="text" class="form-control today-select"  placeholder="请输入地点">
		</div>
		<button type="submit" class="btn btn-primary btn-sm">
			<i class="fa fa-search"></i>
			<span>查询</span>
		</button>
	</form>
	<div class="today-show">
		<h4 class="today-show-title">
			查询结果
		</h4>
		<ul class="today-ul">
			<div class="list-group">
				<a href="javascript:;" class="list-group-item clearfix">
					<div class="today-list-img">
						<img src="assets/img/img1.jpg" alt="">
					</div>
					<div class="today-list-description">
						<span class="today-list-content">
							鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。
						</span>
						<div class="today-list-cate">
							<ul class="list-unstyled">
								<li>
									<span class="cate">河长：</span>
									<span class="value">张小宁</span>
								</li>
								<li>
									<span class="cate">地点：</span>
									<span class="value">北川河</span>
								</li>
								<li>
									<span class="cate">状态：</span>
									<span class="value">已处理</span>
								</li> 								
							</ul>
						</div>
					</div>
					<div class="today-list-date">
						<div class="date">2017-06-08</div>
						<div class="btn-more" style="margin-top: 20px;">
							<button class="btn btn-success">更多>></button>
						</div>
					</div>
				</a>
			</div>
			<div class="list-group">
				<a href="javascript:;" class="list-group-item clearfix">
					<div class="today-list-img">
						<img src="assets/img/img1.jpg" alt="">
					</div>
					<div class="today-list-description">
						<span class="today-list-content">
							鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。
						</span>
						<div class="today-list-cate">
							<ul class="list-unstyled">
								<li>
									<span class="cate">河长：</span>
									<span class="value">张小宁</span>
								</li>
								<li>
									<span class="cate">地点：</span>
									<span class="value">北川河</span>
								</li>
								<li>
									<span class="cate">状态：</span>
									<span class="value">已处理</span>
								</li> 								
							</ul>
						</div>
					</div>
					<div class="today-list-date">
						<div class="date">2017-06-08</div>
						<div class="btn-more" style="margin-top: 20px;">
							<button class="btn btn-success">更多>></button>
						</div>
					</div>
				</a>
			</div>
			<div class="list-group">
				<a href="javascript:;" class="list-group-item clearfix">
					<div class="today-list-img">
						<img src="assets/img/img1.jpg" alt="">
					</div>
					<div class="today-list-description">
						<span class="today-list-content">
							鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。
						</span>
						<div class="today-list-cate">
							<ul class="list-unstyled">
								<li>
									<span class="cate">河长：</span>
									<span class="value">张小宁</span>
								</li>
								<li>
									<span class="cate">地点：</span>
									<span class="value">北川河</span>
								</li>
								<li>
									<span class="cate">状态：</span>
									<span class="value">已处理</span>
								</li> 								
							</ul>
						</div>
					</div>
					<div class="today-list-date">
						<div class="date">2017-06-08</div>
						<div class="btn-more" style="margin-top: 20px;">
							<button class="btn btn-success">更多>></button>
						</div>
					</div>
				</a>
			</div>
			<div class="list-group">
				<a href="javascript:;" class="list-group-item clearfix">
					<div class="today-list-img">
						<img src="assets/img/img1.jpg" alt="">
					</div>
					<div class="today-list-description">
						<span class="today-list-content">
							鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。鸭河口灌区针对旱情严重的实际，全力以赴抗旱保秋。
						</span>
						<div class="today-list-cate">
							<ul class="list-unstyled">
								<li>
									<span class="cate">河长：</span>
									<span class="value">张小宁</span>
								</li>
								<li>
									<span class="cate">地点：</span>
									<span class="value">北川河</span>
								</li>
								<li>
									<span class="cate">状态：</span>
									<span class="value">已处理</span>
								</li> 								
							</ul>
						</div>
					</div>
					<div class="today-list-date">
						<div class="date">2017-06-08</div>
						<div class="btn-more" style="margin-top: 20px;">
							<button class="btn btn-success">更多>></button>
						</div>
					</div>
				</a>
			</div>
		</ul>
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li>
					<a href="javascript:;" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a href="javascript:;">1</a></li>
				<li><a href="javascript:;">2</a></li>
				<li><a href="javascript:;">3</a></li>
				<li><a href="javascript:;">4</a></li>
				<li><a href="javascript:;">5</a></li>
				<li>
					<a href="javascript:;" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>