<div class="row">
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<div class="box box-solid">
			<div class="box-header">
				<i class="fa  fa-bell"></i>
				<h3 class="box-title">事件日志</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-sm" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-sm" data-widget="remove">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<div class="box-body border-radius-none">
				<div class="chart" id="line-chart" style="height: 250px;">
					<div class="">
						<span>今日共有<strong>28</strong>条事件日志</span>
						<span class="pull-right red-more">
							<a href="#">
								查看更多>>
							</a>
						</span>
					</div>
					<ul class="event-log">
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-danger btn-xs">未受理</button>
									北川河附近发现有倾倒垃圾
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-info btn-xs">已受理</button>
									湟水河附近发现有河道破坏现象
								</span>
								<span class="pull-right log-date">
									2017-07-16
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-warning btn-xs">跟进中</button>
									今日在西河河岸出发现河岸破坏严重
								</span>
								<span class="pull-right log-date">
									2017-07-28
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-success btn-xs">已处理</button>
									在北川河下游附近发现有倾倒垃圾现象并且河岸严重破坏
								</span>
								<span class="pull-right log-date">
									2017-08-17
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-warning btn-xs">跟进中</button>
									北川河中游发现非常严重的重金属污染事件
								</span>
								<span class="pull-right log-date">
									2017-08-26
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-danger btn-xs">未受理</button>
									今日在西河河岸出发现河岸破坏严重
								</span>
								<span class="pull-right log-date">
									2017-09-19
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<div class="box box-solid">
			<div class="box-header">
				<i class="fa fa-search"></i>
				<h3 class="box-title">巡河日志</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn  btn-sm" data-widget="remove"><i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<div class="box-body border-radius-none">
				<div class="chart" id="line-chart" style="height: 250px;">
					<div class="">
						<span>近期发布<strong>31</strong>条信息</span>
						<span class="pull-right red-more">
							<a href="#">
								查看更多>>
							</a>
						</span>
					</div>
					<ul class="river-log">
						<li>
							<a href="#">
								<span class="log-text">
									平安县河长今日巡河工作完成
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									贵德县河长今日巡河工作完成
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									乐都区河长今日还未提交巡河日志
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									贵德县河长今日巡河工作完成
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									贵德县河长今日巡河工作完成
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									平安县河长今日巡河工作完成
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<div class="box box-solid">
			<div class="box-header">
				<i class="fa fa-envelope"></i>
				<h3 class="box-title">信息发布</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn  btn-sm" data-widget="remove"><i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<div class="box-body border-radius-none">
				<div class="chart" id="line-chart" style="height: 250px;">
					<div class="">
						<span>今日巡河日志有<strong>13</strong>条</span>
						<span class="pull-right red-more">
							<a href="#">
								查看更多>>
							</a>
						</span>
					</div>
					<ul class="river-log">
						<li>
							<a href="#">
								<span class="log-text">
									青海省河道生态景观持续向好
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									拉西瓦灌溉工程隧道全线贯通
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									巴塘河：人鱼和谐的母亲河
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									青海省河道生态景观持续向好
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									拉西瓦灌溉工程隧道全线贯通
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									巴塘河：人鱼和谐的母亲河
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<div class="box box-solid">
			<div class="box-header">
				<i class="glyphicon glyphicon-bullhorn"></i>
				<h3 class="box-title">曝光台</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn   btn-sm" data-widget="remove"><i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<div class="box-body border-radius-none">
				<div class="chart" id="line-chart" style="height: 250px;">
					<div class="">
						<span>你共有<strong>11</strong>条事件待处理</span>
						<span class="pull-right red-more">
							<a href="#">
								查看更多>>
							</a>
						</span>
					</div>
					<ul class="exposure">
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-xs btn-success">河道污染</button>
									北川河中距离某某大桥100处发现大量的垃圾倾倒在河中
								</span>
								<span class="pull-right log-date">
									2017-07-06
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-xs btn-info">垃圾倾倒</button>
									黑河附近发现水质污染事件
								</span>
								<span class="pull-right log-date">
									2017-07-07
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-xs btn-warning">河岸破坏</button>
									湟水河下游多处发现有大量人为破坏情况
								</span>
								<span class="pull-right log-date">
									2017-07-07
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-xs btn-danger">水质污染</button>
									北川河中距离某某大桥100处发现大量的垃圾倾倒在河中
								</span>
								<span class="pull-right log-date">
									2017-07-08
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-xs btn-primary">其他类型</button>
									黑河附近发现水质污染事件
								</span>
								<span class="pull-right log-date">
									2017-07-09
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="log-text">
									<button class="btn btn-xs btn-success">河道污染</button>
									湟水河下游多处发现有大量人为破坏情况
								</span>
								<span class="pull-right log-date">
									2017-07-11
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
